.message {
  max-width: 60%;
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 15px;
  background-color: #f1f1f1;
  position: relative;
}

.own {
  background-color: #aee1f9;
  margin-left: auto;
}

.time {
  font-size: 0.7rem;
  color: #666;
  margin-top: 2px;
  text-align: right;
}
